<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.university.dao.IBookDAO">
  <resultMap id="BookResultMap" type="Book">
	<id column="id" property="id"/>
	<result column="title" property="title"/>
	<result column="author" property="author"/>
	<result column="num_pages" property="numPages"/>
	<result column="year" property="year"/>
  </resultMap>
</mapper>